{
    presets : [
    	["env", {
	      		"targets": {
	        		"browsers": ["Explorer>=8","Android>=2","iOS>=7", "ios_saf>=7"]
	      		},
	      		"modules": false,
            "debug": false, // debug，编译的时候 console
	      		"loose": false
      		}
      	],
      	"stage-0"
    ],
    plugins : [
        ["transform-modules", {
          "cube-ui": {
            "transform": "cube-ui/lib/${member}",
            "kebabCase": true,
            "style": {
              "ignore": ["create-api", "better-scroll"]
            }
          }
        }],
        [ "transform-runtime", {
          "helpers": true, // defaults to true
          "polyfill": true, // defaults to true
          "regenerator": true, // defaults to true
          "moduleName": "babel-runtime" // defaults to "babel-runtime"
        }]
    ]
}